.support-area {
  padding: 80px 0;
}

.support-area .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
}

.support-card {
    gap: 10px;
    align-items: center;
    display: flex;
    background: #fff;
    padding: 5px 5px;
    text-align: center;
    border-radius: 16px;
    transition: all 0.3s ease-in-out;
    
    cursor: pointer;
}

.support-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 22px rgba(0,0,0,0.12);
}

.support-card .icon img {
  width: 60px;
  height: auto;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.support-card:hover .icon img {
  transform: scale(1.12);
}

.support-card h5 {
  font-size: 18px;
  margin-bottom: 6px;
  font-weight: 600;
  color: #222;
}

.support-card p {
  font-size: 14px;
  color: #666;
}
